.advantages__wrapper {
  padding-top: 30px;

  @include tablet {
    padding-top: 42px;
  }
}

.advantages__list {
  @include desktop {
    display: table;
    width: 100%;
  }
}

.advantages__item {
  margin-bottom: 23px;
  padding: 0 44px;
  padding-top: 125px;

  @include tablet {
    margin: 0 30px;
    margin-bottom: 40px;
    padding: 0;
    padding-bottom: 39px;
    padding-left: 128px;
  }

  @include desktop {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 0 40px;
    padding-top: 130px;
  }
}

.advantages__item:nth-child(n+2) {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: table-cell;
  }
}

.advantages__item:last-child {
  @include tablet {
    margin-bottom: 0;
  }
}

.advantages__item:nth-child(2) {
  @include desktop {
    width: 200px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
