.news {
  @include tablet {
    padding-top: 90px;
    padding-bottom: 28px;
  }

  @include desktop {
    padding-top: 88px;
    padding-bottom: 32px;
  }
}

.news__wrapper {
  padding-top: 67px;
  padding-bottom: 28px;

  @include tablet {
    padding: 0;
  }
}

.news__title {
  padding-bottom: 7px;

  @include tablet {
    min-height: 40px;
    margin-right: 200px;
    margin-bottom: 55px;
  }

  @include desktop {
    margin-left: 70px;
  }
}

.news__list {
  @include tablet {
    font-size: 0;
  }
}

.news__item {
  margin: 0 20px;
  margin-bottom: 16px;
  padding-bottom: 18px;
  padding-left: 70px;

  @include tablet {
    display: inline-block;
    width: 320px;
    margin: 0;
    padding: 0 30px;
    padding-left: 70px;
    font-size: 18px;
    vertical-align: top;
  }

  @include desktop {
    display: inline-block;
    width: 220px;
    vertical-align: top;
  }
}

.news__item:nth-child(n+3) {
  display: none;

  @include desktop {
    display: inline-block;
  }
}

.news__item:nth-child(2) {
  padding-bottom: 0;
}
