/* font-family: "PTSansNarrowRegular"; */
@font-face {
    font-family: "PTSansNarrowRegular";
    src: url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.woff") format("woff"),
    url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.woff") format("woff2");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansNarrowBold"; */
@font-face {
    font-family: "PTSansNarrowBold";
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff2");
    font-style: normal;
    font-weight: normal;
}
