@import "_misc/fonts";

$container-width: 320px;
$footer-height: 460px;
$tablet-width: 768px;
$desktop-width: 1200px;
$body-font: 'PTSansNarrowRegular', 'Arial', sans-serif;
$bg-darkgrey: #292929;
$bg-grey: #242424;
$bg-lightgrey: #f8f5f2;
$bg-nav-menu-item: #826550;
$bg-toggle-nav: #6a4d38;
$bg-color-menu-login: #6a4d38;
$color-menu-btn-down: #a09187;
$color-black: #000;
$color-white: #fff;
$color-border-shadow: #886e5b;
$color-border: #71543f;
$break-small: "(max-width: 767px)";
$break-medium: "(min-width: 768px)";
$break-large: "(min-width: 1200px)";
$bg-color-modal: #f8f5f2;
$font-size-big: 30px;
$line-height-medium: 30px;
$font-size-base: 18px;
$color-border-modal: #e5ddd5;
$color-button-bg-active: #d5c9bd;
$bg-color-button: #f8f5f2;
$color-button-border-hover: #d5cabe;
$color-button-bg-active: #d5c9bd;
$bg-color-menu-active: #826550;
$color-button-text-active: #808080;
$color-news-text-active: #6a4d38;
$color-menu-mobile-hover: #a09187;
$line-height-small: 24px;
