@import "_misc/fonts";

$container-width: 320px;
$footer-height: 460px;
$tablet-width: 768px;
$desktop-width: 1200px;
$body-font: 'PTSansNarrowRegular', 'Arial', sans-serif;
$bg-darkgrey: #292929;
$bg-grey: #242424;
$bg-lightgrey: #f8f5f2;
$svg-white: #fff;
